### Installing the required libraries

In [19]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

### Load the cleaned data to a Pandas Dataframe

In [20]:
df = pd.read_csv("universities_cleaned.csv", index_col=0)
df.head(10)

,Rank,Institution,Location,Continent,Founded,Affiliation,Delivery_Method,Enrollment,Link,location_city,location_country
0,1,Indira Gandhi National Open University,"New Delhi, India",Asia,1985,Public,Distance/In-Person,7140000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,New Delhi,India
1,2,"National University, Bangladesh","Gazipur, Bangladesh",Asia,1992,Public,In-Person,3425832,https://en.wikipedia.org/wiki/National_Univers...,Gazipur,Bangladesh
2,3,Anadolu University,"Eskişehir, Turkey",Asia,1958,Public,Distance/In-Person,1974343,https://en.wikipedia.org/wiki/Anadolu_University,Eskişehir,Turkey
3,4,California Community Colleges,"California, United States",North America,1967,Public,In-Person,1800000,https://en.wikipedia.org/wiki/California_Commu...,California,United States
4,5,Islamic Azad University,Iran,Asia,1982,Private,In-Person,1778000,https://en.wikipedia.org/wiki/Islamic_Azad_Uni...,NaN,Iran
5,6,Allama Iqbal Open University,"Islamabad, Pakistan",Asia,1974,Public,Distance/In-Person,1027000,https://en.wikipedia.org/wiki/Allama_Iqbal_Ope...,Islamabad,Pakistan
6,7,"Laureate Education, Inc.",International,Global,1999,Private,Distance/In-Person,875000,https://en.wikipedia.org/wiki/Laureate_Educati...,NaN,International
7,8,Bangladesh Open University,"Gazipur, Bangladesh",Asia,1992,Public,Distance,650000,https://en.wikipedia.org/wiki/Bangladesh_Open_...,Gazipur,Bangladesh
8,9,Universitas Terbuka,"Jakarta, Indonesia",Asia,1984,Public,Distance,646467,https://en.wikipedia.org/wiki/Universitas_Terbuka,Jakarta,Indonesia
9,10,National Technological Institute of Mexico,Mexico,North America,1948,Public,In-Person,6200002019,https://en.wikipedia.org/wiki/National_Technol...,NaN,Mexico

In [25]:
print(df.columns)

Index(['Rank', 'Institution', 'Location', 'Continent', 'Founded',
       'Affiliation', 'Delivery_Method', 'Enrollment', 'Link', 'location_city',
       'location_country'],
      dtype='object')

### Connect to MSQL

In [21]:
conn = pymysql.Connect(
    host='127.0.0.1',
    port=3306,
    password='P@ssw0rd.1',
    user='admin',
    database='amdari_db'
)

In [22]:
cursor = conn.cursor()

In [23]:
cursor.execute("SHOW DATABASES;")
cursor.fetchall()

(('amdari_db',), ('information_schema',), ('performance_schema',))

### Creating the Tables

In [42]:
create_table_file = open('sql_scripts/mysql_create_tables.sql')
create_query = create_table_file.read()

In [43]:
cursor.execute(create_query)

0

In [41]:
# Convert the data to tuples
data = df.itertuples(index=None, name=None)
tuple(data)

((1,
  'Indira Gandhi National Open University',
  'New Delhi, India',
  'Asia',
  1985,
  'Public',
  'Distance/In-Person',
  7140000,
  'https://en.wikipedia.org/wiki/Indira_Gandhi_National_Open_University',
  'New Delhi',
  'India'),
 (2,
  'National University, Bangladesh',
  'Gazipur, Bangladesh',
  'Asia',
  1992,
  'Public',
  'In-Person',
  3425832,
  'https://en.wikipedia.org/wiki/National_University,_Bangladesh',
  'Gazipur',
  'Bangladesh'),
 (3,
  'Anadolu University',
  'Eskişehir, Turkey',
  'Asia',
  1958,
  'Public',
  'Distance/In-Person',
  1974343,
  'https://en.wikipedia.org/wiki/Anadolu_University',
  'Eskişehir',
  'Turkey'),
 (4,
  'California Community Colleges',
  'California, United States',
  'North America',
  1967,
  'Public',
  'In-Person',
  1800000,
  'https://en.wikipedia.org/wiki/California_Community_Colleges',
  'California',
  'United States'),
 (5,
  'Islamic Azad University',
  'Iran',
  'Asia',
  1982,
  'Private',
  'In-Person',
  1778000,
  'https://en.wikipedia.org/wiki/Islamic_Azad_University',
  nan,
  'Iran'),
 (6,
  'Allama Iqbal Open University',
  'Islamabad, Pakistan',
  'Asia',
  1974,
  'Public',
  'Distance/In-Person',
  1027000,
  'https://en.wikipedia.org/wiki/Allama_Iqbal_Open_University',
  'Islamabad',
  'Pakistan'),
 (7,
  'Laureate Education, Inc.',
  'International',
  'Global',
  1999,
  'Private',
  'Distance/In-Person',
  875000,
  'https://en.wikipedia.org/wiki/Laureate_Education,_Inc.',
  nan,
  'International'),
 (8,
  'Bangladesh Open University',
  'Gazipur, Bangladesh',
  'Asia',
  1992,
  'Public',
  'Distance',
  650000,
  'https://en.wikipedia.org/wiki/Bangladesh_Open_University',
  'Gazipur',
  'Bangladesh'),
 (9,
  'Universitas Terbuka',
  'Jakarta, Indonesia',
  'Asia',
  1984,
  'Public',
  'Distance',
  646467,
  'https://en.wikipedia.org/wiki/Universitas_Terbuka',
  'Jakarta',
  'Indonesia'),
 (10,
  'National Technological Institute of Mexico',
  'Mexico',
  'North America',
  1948,
  'Public',
  'In-Person',
  6200002019,
  'https://en.wikipedia.org/wiki/National_Technological_Institute_of_Mexico',
  nan,
  'Mexico'),
 (11,
  'Savitribai Phule Pune University',
  'Pune, Maharashtra, India',
  'Asia',
  1948,
  'Public',
  'In-Person',
  665000,
  'https://en.wikipedia.org/wiki/Savitribai_Phule_Pune_University',
  'Pune, Maharashtra',
  'India'),
 (12,
  'Chaudhary Charan Singh University',
  'Meerut, Uttar Pradesh, India',
  'Asia',
  1965,
  'Public',
  'In-Person',
  560000,
  'https://en.wikipedia.org/wiki/Chaudhary_Charan_Singh_University',
  'Meerut, Uttar Pradesh',
  'India'),
 (13,
  'University of Mumbai',
  'Mumbai, Maharashtra, India',
  'Asia',
  1857,
  'Public',
  'In-Person',
  549432,
  'https://en.wikipedia.org/wiki/University_of_Mumbai',
  'Mumbai, Maharashtra',
  'India'),
 (14,
  'Ramkhamhaeng University',
  'Bangkok, Thailand',
  'Asia',
  1971,
  'Public',
  'In-Person',
  525000,
  'https://en.wikipedia.org/wiki/Ramkhamhaeng_University',
  'Bangkok',
  'Thailand'),
 (15,
  'National Open University of Nigeria',
  'Nigeria',
  'Africa',
  2002,
  'Public',
  'Distance',
  515000,
  'https://en.wikipedia.org/wiki/National_Open_University_of_Nigeria',
  nan,
  'Nigeria'),
 (16,
  'California State University system',
  'California, United States',
  'North America',
  1857,
  'Public',
  'In-Person',
  457992,
  'https://en.wikipedia.org/wiki/California_State_University',
  'California',
  'United States'),
 (17,
  'Tribhuvan University',
  'Kirtipur, Nepal',
  'Asia',
  1959,
  'Public',
  'In-Person',
  454065202122,
  'https://en.wikipedia.org/wiki/Tribhuvan_University',
  'Kirtipur',
  'Nepal'),
 (18,
  'University of the Punjab',
  'Lahore, Punjab, Pakistan',
  'Asia',
  1882,
  'Public',
  'In-Person',
  450000,
  'https://en.wikipedia.org/wiki/University_of_the_Punjab',
  'Lahore, Punjab',
  'Pakistan'),
 (19,
  'Dr. B R Ambedkar Open University',
  'Telangana, India',
  'Asia',
  1982,
  'Public',
  'Distance',
  450000,
  'https://en.wikipedia.org/wiki/Andhra_Pradesh_Open_University',
  'Telangana',
  'India'),
 (20,
  'State University System of Florida',
  'Florida, United States',
  'North America',
  1954,
  'Public',
  'In-Person',
  430000,
  'https://en.wikipedia.org/wiki/State_University_System_of_Florida',
  'Florida',
  'United States'),
 (21,
  'University System of Ohio',
  'Ohio, United States',
  'North America',
  2007,
  'Public',
  'In-Person',
  429310,
  'https://en.wikipedia.org/wiki/University_System_of_Ohio',
  'Ohio',
  'United States'),
 (22,
  'University of Delhi',
  'Delhi, India',
  'Asia',
  1922,
  'Public',
  'In-Person/Distance',
  700000,
  'https://en.wikipedia.org/wiki/University_of_Delhi',
  'Delhi',
  'India'),
 (23,
  'Payame Noor University',
  'Iran',
  'Asia',
  1987,
  'Public',
  'Distance/In-Person',
  400000,
  'https://en.wikipedia.org/wiki/Payame_Noor_University',
  nan,
  'Iran'),
 (24,
  'Sikkim Manipal University',
  'Sikkim, India',
  'Asia',
  1995,
  'Private',
  'In-Person',
  390000,
  'https://en.wikipedia.org/wiki/Sikkim_Manipal_University',
  'Sikkim',
  'India'),
 (25,
  'University of South Africa',
  'Pretoria, Gauteng, South Africa',
  'Africa',
  1873,
  'Public',
  'Distance',
  370000,
  'https://en.wikipedia.org/wiki/University_of_South_Africa',
  'Pretoria, Gauteng',
  'South Africa'),
 (26,
  'State University of New York system',
  'New York, United States',
  'North America',
  1948,
  'Public',
  'In-Person',
  363612,
  'https://en.wikipedia.org/wiki/State_University_of_New_York',
  'New York',
  'United States'),
 (27,
  'National Autonomous University of Mexico',
  'Mexico City, Mexico',
  'North America',
  1551,
  'Public',
  'In-Person',
  356530,
  'https://en.wikipedia.org/wiki/National_Autonomous_University_of_Mexico',
  'Mexico City',
  'Mexico'),
 (28,
  'National Centre for Distance Education',
  'France',
  'Europe',
  1939,
  'Public',
  'Distance',
  350000,
  'https://en.wikipedia.org/wiki/Centre_national_d%27enseignement_%C3%A0_distance',
  nan,
  'France'),
 (29,
  'University System of Georgia',
  'Georgia, United States',
  'North America',
  1931,
  'Public',
  'In-Person',
  318027,
  'https://en.wikipedia.org/wiki/University_System_of_Georgia',
  'Georgia',
  'United States'),
 (30,
  'University of Buenos Aires',
  'Buenos Aires, Argentina',
  'South America',
  1821,
  'Public',
  'In-Person',
  316050,
  'https://en.wikipedia.org/wiki/University_of_Buenos_Aires',
  'Buenos Aires',
  'Argentina'),
 (30,
  'Minnesota State Colleges and Universities',
  'Minnesota, United States',
  'North America',
  1995,
  'Public',
  'In-Person',
  300000,
  'https://en.wikipedia.org/wiki/Minnesota_State_Colleges_and_Universities',
  'Minnesota',
  'United States'),
 (31,
  'Osmania University',
  'Hyderabad, Telangana, India',
  'Asia',
  1918,
  'Public',
  'In-Person',
  300000,
  'https://en.wikipedia.org/wiki/Osmania_University',
  'Hyderabad, Telangana',
  'India'),
 (32,
  'National University of Distance Education',
  'Spain',
  'Europe',
  1972,
  'Public',
  'Distance/In-Person',
  260079,
  'https://en.wikipedia.org/wiki/National_University_of_Distance_Education',
  nan,
  'Spain'),
 (33,
  'Rajiv Gandhi Technical University',
  'Bhopal, Madhya Pradesh, India',
  'Asia',
  1998,
  'Public',
  'In-Person',
  260000,
  'https://en.wikipedia.org/wiki/Rajiv_Gandhi_Technical_University',
  'Bhopal, Madhya Pradesh',
  'India'),
 (34,
  'Cairo University',
  'Giza, Egypt',
  'Africa',
  1908,
  'Public',
  'In-Person',
  257200,
  'https://en.wikipedia.org/wiki/Cairo_University',
  'Giza',
  'Egypt'),
 (35,
  'University of California system',
  'California, United States',
  'North America',
  1869,
  'Public',
  'In-Person',
  256000,
  'https://en.wikipedia.org/wiki/University_of_California',
  'California',
  'United States'),
 (36,
  'City University of New York',
  'New York, United States',
  'North America',
  1961,
  'Public',
  'In-Person',
  243000,
  'https://en.wikipedia.org/wiki/City_University_of_New_York',
  'New York',
  'United States'),
 (37,
  'University of North Carolina system',
  'North Carolina, United States',
  'North America',
  1789,
  'Public',
  'In-Person',
  242000,
  'https://en.wikipedia.org/wiki/University_of_North_Carolina',
  'North Carolina',
  'United States'),
 (38,
  'University of Texas System',
  'Texas, United States',
  'North America',
  1881,
  'Public',
  'In-Person',
  221337,
  'https://en.wikipedia.org/wiki/University_of_Texas_System',
  'Texas',
  'United States'),
 (39,
  'Estácio de Sá University',
  'Rio de Janeiro, Rio de Janeiro, Brazil',
  'South America',
  1970,
  'Private',
  'In-Person',
  215000,
  'https://en.wikipedia.org/wiki/Est%C3%A1cio_de_S%C3%A1_University',
  'Rio de Janeiro, Rio de Janeiro',
  'Brazil'),
 (40,
  'University of Guadalajara',
  'Guadalajara, Jalisco, Mexico',
  'North America',
  1791,
  'Public',
  'In-Person',
  209406,
  'https://en.wikipedia.org/wiki/University_of_Guadalajara',
  'Guadalajara, Jalisco',
  'Mexico'),
 (41,
  'University of Nuevo León',
  'Monterrey, Nuevo León, Mexico',
  'North America',
  1933,
  'Public',
  'In-Person',
  206000,
  'https://en.wikipedia.org/wiki/Universidad_Aut%C3%B3noma_de_Nuevo_Le%C3%B3n',
  'Monterrey, Nuevo León',
  'Mexico'),
 (42,
  'Open University',
  'Milton Keynes, United Kingdom',
  'Europe',
  1969,
  'Public',
  'Distance/In-Person',
  205420,
  'https://en.wikipedia.org/wiki/Open_University',
  'Milton Keynes',
  'United Kingdom'),
 (43,
  'University of Applied Science and Technology',
  'Iran',
  'Asia',
  1992,
  'Public',
  'In-Person',
  200000,
  'https://en.wikipedia.org/wiki/University_of_Applied_Science_and_Technology',
  nan,
  'Iran'),
 (44,
  'Technical College System of Georgia',
  'Georgia, United States',
  'North America',
  1970,
  'Public',
  'In-Person',
  191567,
  'https://en.wikipedia.org/wiki/Technical_College_System_of_Georgia',
  'Georgia',
  'United States'),
 (45,
  'Utah System of Higher Education',
  'Utah, United States',
  'North America',
  1894,
  'Public',
  'In-Person',
  189351,
  'https://en.wikipedia.org/wiki/Utah_System_of_Higher_Education',
  'Utah',
  'United States'),
 (46,
  'Russian Presidential Academy of National Economy and Public Administration',
  'Moscow, Russian Federation',
  'Europe',
  1977,
  'Public',
  'In-Person',
  180000,
  'https://en.wikipedia.org/wiki/Russian_Presidential_Academy_of_National_Economy_and_Public_Administration',
  'Moscow',
  'Russian Federation'),
 (47,
  'King Abdulaziz University',
  'Jeddah, Saudi Arabia',
  'Asia',
  1976,
  'Public',
  'In-Person',
  177234,
  'https://en.wikipedia.org/wiki/King_Abdulaziz_University',
  'Jeddah',
  'Saudi Arabia'),
 (48,
  'Technical and Vocational University',
  'Iran',
  'Asia',
  1965,
  'Public',
  'In-Person',
  175000,
  'https://en.wikipedia.org/wiki/Technical_and_Vocational_University',
  nan,
  'Iran'),
 (49,
  'National Polytechnic Institute',
  'Mexico City, Mexico',
  'North America',
  1936,
  'Public',
  'In-Person',
  171581,
  'https://en.wikipedia.org/wiki/National_Polytechnic_Institute',
  'Mexico City',
  'Mexico'),
 (50,
  'Autonomous University of Santo Domingo',
  'Santo Domingo',
  'North America',
  1538,
  'Public',
  'In-Person',
  170530,
  'https://en.wikipedia.org/wiki/Universidad_Aut%C3%B3noma_de_Santo_Domingo',
  nan,
  'Santo Domingo'),
 (51,
  'Ain Shams University',
  'Cairo, Egypt',
  'Africa',
  1950,
  'Public',
  'In-Person',
  170000,
  'https://en.wikipedia.org/wiki/Ain_Shams_University',
  'Cairo',
  'Egypt'),
 (52,
  'University of London',
  'London, United Kingdom',
  'Europe',
  1836,
  'Public',
  'In-Person',
  170000,
  'https://en.wikipedia.org/wiki/University_of_London',
  'London',
  'United Kingdom'),
 (53,
  'Southern New Hampshire University',
  'New Hampshire, United States',
  'North America',
  1932,
  'Private',
  'Distance/In-Person',
  170000,
  'https://en.wikipedia.org/wiki/Southern_New_Hampshire_University',
  'New Hampshire',
  'United States'),
 (54,
  'Illinois Board of Higher Education',
  'Illinois, United States',
  'North America',
  1862,
  'Public',
  'In-Person',
  163786,
  'https://en.wikipedia.org/wiki/Illinois_Board_of_Higher_Education',
  'Illinois',
  'United States'),
 (55,
  'University of Wisconsin System',
  'Wisconsin, United States',
  'North America',
  1848,
  'Public',
  'In-Person',
  162933,
  'https://en.wikipedia.org/wiki/University_of_Wisconsin_System',
  'Wisconsin',
  'United States'),
 (56,
  'Universiti Teknologi MARA',
  'Shah Alam, Malaysia',
  'Asia',
  1956,
  'Public',
  'In-Person',
  160957,
  'https://en.wikipedia.org/wiki/Universiti_Teknologi_MARA',
  'Shah Alam',
  'Malaysia'),
 (57,
  'University of the People',
  'California, United States',
  'North America',
  2009,
  'Private',
  'Distance',
  152000,
  'https://en.wikipedia.org/wiki/University_of_the_People',
  'California',
  'United States'),
 (58,
  'Korea National Open University',
  'South Korea',
  'Asia',
  1972,
  'Public',
  'Distance/In-Person',
  151413,
  'https://en.wikipedia.org/wiki/Korea_National_Open_University',
  nan,
  'South Korea'),
 (59,
  'Dr. A.P.J. Abdul Kalam Technical University',
  'Lucknow, Uttar Pradesh, India',
  'Asia',
  2000,
  'Public',
  'In-Person',
  150000,
  'https://en.wikipedia.org/wiki/Dr._A.P.J._Abdul_Kalam_Technical_University',
  'Lucknow, Uttar Pradesh',
  'India'),
 (60,
  'Madhya Pradesh Bhoj Open University',
  'Bhopal, Madhya Pradesh, India',
  'Asia',
  1991,
  'Public',
  'Distance',
  150000,
  'https://en.wikipedia.org/wiki/Madhya_Pradesh_Bhoj_Open_University',
  'Bhopal, Madhya Pradesh',
  'India'),
 (61,
  'Sapienza University of Rome',
  'Rome, Italy',
  'Europe',
  1303,
  'Public',
  'In-Person',
  147000,
  'https://en.wikipedia.org/wiki/Sapienza_University_of_Rome',
  'Rome',
  'Italy'),
 (62,
  'University System of Maryland',
  'Maryland, United States',
  'North America',
  1988,
  'Public',
  'In-Person',
  144363,
  'https://en.wikipedia.org/wiki/University_System_of_Maryland',
  'Maryland',
  'United States'),
 (63,
  'University of the Republic',
  'Montevideo, Uruguay',
  'South America',
  1849,
  'Public',
  'In-Person',
  144108,
  'https://en.wikipedia.org/wiki/University_of_the_Republic_(Uruguay)',
  'Montevideo',
  'Uruguay'),
 (64,
  'Norte do Paraná University',
  'Londrina, Paraná, Brazil',
  'South America',
  1972,
  'Private',
  'Distance/In-Person',
  130000,
  'https://en.wikipedia.org/wiki/Universidade_Norte_do_Paran%C3%A1',
  'Londrina, Paraná',
  'Brazil'),
 (65,
  'IU International University of Applied Sciences',
  'Erfurt, Germany',
  'Europe',
  1998,
  'Private',
  'Distance/In-Person',
  130000,
  'https://en.wikipedia.org/wiki/IU_International_University_of_Applied_Sciences',
  'Erfurt',
  'Germany'),
 (66,
  'University of San Carlos of Guatemala',
  'Guatemala City, Guatemala',
  'North America',
  1676,
  'Public',
  'In-Person',
  124000,
  'https://en.wikipedia.org/wiki/Universidad_de_San_Carlos_de_Guatemala',
  'Guatemala City',
  'Guatemala'),
 (67,
  'University of Lyon',
  'Lyon, France',
  'Europe',
  2007,
  'Public',
  'In-Person',
  120000,
  'https://en.wikipedia.org/wiki/University_of_Lyon',
  'Lyon',
  'France'),
 (68,
  'UNIMINUTO system',
  'Colombia',
  'South America',
  1990,
  'Private',
  'Distance/In-Person',
  116782,
  'https://en.wikipedia.org/wiki/UNIMINUTO',
  nan,
  'Colombia'),
 (69,
  'Texas A&M University System',
  'Texas, United States',
  'North America',
  1876,
  'Public',
  'In-Person',
  114691,
  'https://en.wikipedia.org/wiki/Texas_A%26M_University_System',
  'Texas',
  'United States'),
 (70,
  'National University of Córdoba',
  'Córdoba, Argentina',
  'South America',
  1613,
  'Public',
  'In-Person',
  113558,
  'https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba',
  'Córdoba',
  'Argentina'),
 (71,
  'Pennsylvania State System of Higher Education',
  'Pennsylvania, United States',
  'North America',
  1982,
  'Public',
  'In-Person',
  110428,
  'https://en.wikipedia.org/wiki/Pennsylvania_State_System_of_Higher_Education',
  'Pennsylvania',
  'United States'),
 (72,
  'Liberty University',
  'Virginia, United States',
  'North America',
  1971,
  'Private',
  'Distance/In-Person',
  110000,
  'https://en.wikipedia.org/wiki/Liberty_University',
  'Virginia',
  'United States'),
 (73,
  'University of Toulouse',
  'Toulouse, France',
  'Europe',
  1229,
  'Public',
  'In-Person',
  110000,
  'https://en.wikipedia.org/wiki/University_of_Toulouse',
  'Toulouse',
  'France'),
 (74,
  'Université du Québec',
  'Quebec, Canada',
  'North America',
  1968,
  'Public',
  'In-Person/Distance',
  101915,
  'https://en.wikipedia.org/wiki/Universit%C3%A9_du_Qu%C3%A9bec',
  'Quebec',
  'Canada'),
 (75,
  'Virtual University of Pakistan',
  'Lahore, Islamabad, Pakistan',
  'Asia',
  2002,
  'Public',
  'Distance',
  100000,
  'https://en.wikipedia.org/wiki/Virtual_University_of_Pakistan',
  'Lahore, Islamabad',
  'Pakistan'),
 (76,
  'Vietnam National University, Ho Chi Minh City',
  'Ho Chi Minh City, Vietnam',
  'Asia',
  1995,
  'Public',
  'In-Person',
  98648,
  'https://en.wikipedia.org/wiki/Vietnam_National_University,_Ho_Chi_Minh_City',
  'Ho Chi Minh City',
  'Vietnam'),
 (77,
  'University of Belgrade',
  'Belgrade, Serbia',
  'Europe',
  1808,
  'Public',
  'In-Person',
  97696,
  'https://en.wikipedia.org/wiki/University_of_Belgrade',
  'Belgrade',
  'Serbia'),
 (78,
  'University of Vienna',
  'Vienna, Austria',
  'Europe',
  1365,
  'Public',
  'In-Person',
  91715,
  'https://en.wikipedia.org/wiki/University_of_Vienna',
  'Vienna',
  'Austria'),
 (79,
  'Monterrey Institute of Technology and Higher Education',
  'Monterrey, Nuevo León, Mexico',
  'North America',
  1943,
  'Private',
  'In-Person',
  91200,
  'https://en.wikipedia.org/wiki/Monterrey_Institute_of_Technology_and_Higher_Education,_Chihuahua',
  'Monterrey, Nuevo León',
  'Mexico'),
 (80,
  'University of Toronto',
  'Toronto, Canada',
  'North America',
  1827,
  'Public',
  'In-Person',
  88766,
  'https://en.wikipedia.org/wiki/University_of_Toronto',
  'Toronto',
  'Canada'),
 (81,
  'Aristotle University of Thessaloniki',
  'Thessaloniki, Greece',
  'Europe',
  1925,
  'Public',
  'In-Person',
  88283,
  'https://en.wikipedia.org/wiki/Aristotle_University_of_Thessaloniki',
  'Thessaloniki',
  'Greece'),
 (82,
  'Polytechnic University of the Philippines',
  'Philippines',
  'Asia',
  1904,
  'Public',
  'Distance/In-Person',
  83328,
  'https://en.wikipedia.org/wiki/Polytechnic_University_of_the_Philippines',
  nan,
  'Philippines'),
 (83,
  'Complutense University of Madrid',
  'Madrid, Spain',
  'Europe',
  1293,
  'Public',
  'In-Person',
  83000,
  'https://en.wikipedia.org/wiki/Complutense_University_of_Madrid',
  'Madrid',
  'Spain'),
 (84,
  'Farhangian University',
  'Iran',
  'Asia',
  2012,
  'Public',
  'In-Person',
  80000,
  'https://en.wikipedia.org/wiki/Farhangian_University',
  nan,
  'Iran'),
 (85,
  'Aix-Marseille University',
  'Marseille, France',
  'Europe',
  1409,
  'Public',
  'In-Person',
  80000,
  'https://en.wikipedia.org/wiki/Aix-Marseille_University',
  'Marseille',
  'France'),
 (86,
  'University of Hagen',
  'Hagen, Germany',
  'Europe',
  1974,
  'Public',
  'Distance',
  69982,
  'https://en.wikipedia.org/wiki/University_of_Hagen',
  'Hagen',
  'Germany'),
 (87,
  'Université de Montréal',
  'Canada',
  'North America',
  1878,
  'Public',
  'Distance/In-Person',
  67109,
  'https://en.wikipedia.org/wiki/Universit%C3%A9_de_Montr%C3%A9al',
  nan,
  'Canada'),
 (88,
  'University of the Philippines',
  'Philippines',
  'Asia',
  1908,
  'Public',
  'Distance/In-Person',
  64144,
  'https://en.wikipedia.org/wiki/University_of_the_Philippines',
  nan,
  'Philippines'),
 (89,
  'Academic Center for Education, Culture and Research',
  'Iran',
  'Asia',